- model_class = Position

- content_for :title do
  %h1= t '.title', :default => [:'helpers.titles.newf', 'New %{model}'], :model => model_class.model_name.human.downcase

= render :partial => "form"
