<h2 class="mb-3 text-center">L'indice MSCI All Country World Index (ACWI)</h2>
<p>L'indice MSCI All Country World Index (ACWI) est un indice boursier conçu pour suivre la performance globale des marchés d'actions mondiaux. Maintenu par Morgan Stanley Capital International (MSCI), cet indice comprend les actions de près de 3 000 entreprises issues de 23 pays développés et de 24 marchés émergents.</p>

<h5>Comprendre l'ACWI</h5>
<p>En d'autres termes, cet indice suit la performance globale de l'économie mondiale, reflétant celle de 47 pays. La tendance de cet indice démontre comment le monde s'enrichit. La technologie moderne permet aux pays d'innover et de contribuer à l'économie mondiale.</p>

<h5>Participation à la croissance mondiale</h5>
<p>En regardant ce graphique, nous pouvons voir comment la richesse du monde augmente, et en tant qu'investisseur indépendant, il est important de faire partie de cette croissance.</p>
