<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container mx-auto">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
      {
          "symbols": [
          [
              "NYSE:MSCI|ALL"
          ],
          [
              "TSX:XEI|ALL"
          ],
          [
              "TSX:ZSP|ALL"
          ],
          [
              "COINBASE:BTCUSD|ALL"
          ],
          [
              "COINBASE:ETHUSD|ALL"
          ],
          [
              "CAPITALCOM:GOLD|ALL"
          ]
      ],
          "chartOnly": false,
          "width": 550,
          "height": 400,
          "locale": "en",
          "colorTheme": "light",
          "autosize": false,
          "showVolume": false,
          "showMA": false,
          "hideDateRanges": false,
          "hideMarketStatus": false,
          "hideSymbolLogo": false,
          "scalePosition": "right",
          "scaleMode": "Normal",
          "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
          "fontSize": "10",
          "noTimeScale": false,
          "valuesTracking": "1",
          "changeMode": "price-and-percent",
          "chartType": "area",
          "maLineColor": "#2962FF",
          "maLineWidth": 1,
          "maLength": 9,
          "lineWidth": 2,
          "lineType": 0,
          "dateRanges": [
          "12m|1D",
          "60m|1W",
          "120m|1M",
          "all|1M"
      ]
      }
  </script>
</div>
<!-- TradingView Widget END -->
