%nav.navbar.navbar-light.bg-white.navbar-expand.px-3
  %button#menu-toggle.btn.btn-outline-secondary
    %i.fa-solid.fa-bars
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.me-auto
